server:
  http_listen_port: 3200
  log_level: info

distributor:
  ring:
    kvstore:
      store: inmemory

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    compacted_block_retention: 1h

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/blocks

querier:
  max_concurrent_queries: 20
